body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/141/945/original/pexels-nicolas-jaramillo-525710-1272541.jpg?1725330296");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: #37506f;
}
h1 {
  text-align: center;
  font-size: 36px;
}
h2 {
  margin: 0;
  line-height: 2;
  font-size: 28px;
}
select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
  background: #b7bbc4;
  color: white;
}
a {
  color: blue;
}
.credits {
  color: white;
}
a:hover {
  color: red;
}
.container {
  max-width: 600px;
  margin: 60px auto;
  background-color: lightgray;
  padding: 30px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 10px;
}
.city {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 30px 0;
  border-bottom: 1px dashed lightgrey;
}
.city:last-child {
  border: none;
}
.time {
  font-size: 36px;
  font-weight: bold;
}
.time small {
  font-size: 18px;
  vertical-align: middle;
  line-height: 36px;
}
.date {
  opacity: 0.7;
}
footer {
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}
